:root {
    --primary-color: #bebebe;
    --second-color: #6cc8fa;
    --third-color: #3dadb9;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
      font-family: play;
  }
  
  header {
    padding: 20px 35px;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--primary-color);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }

  footer {
    display: flex;
    background-color: var(--primary-color);
    padding: 30px 25px;
    width: 100%; 
    bottom: 0;
    position: fixed;
    text-align: center;
  }


  h3{
    display: flex;
    justify-content: center;
    font-family: play;
  }


reg-form{
    border: 3px solid var(--second-color);
    background-color: rgba(68, 55, 255, 0.8);
    padding: 20px;
    color: var(--second-color);
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reg-form button:hover {
  background-color: var(--third-color);  
}

.reg-form h3 {
  font-size: 24px;
  margin: 0;
}
.reg-form p {
  margin: 5px 0 15px 0;
}

.labField{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

.inputBox {
  border: 1px solid var(--second-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--second-color);
  width: 30%;
  margin-bottom: 15px; 
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

.reg-form label {
  margin: 0 5px;
}

.reg-form button {
  color: var(--primary-color);
  background-color: var(--second-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
} 

.checkbox-wrapper input, .radio-wrapper input {
  opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid var(--second-color);  
  position: absolute;
  top: -4px;
  left: -30px;
}

.radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--second-color);
  position: absolute;
  left: -29px;
  top: -3px;
  background-image: radial-gradient(circle, var(--third-color), var(--second-color));
}

.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--second-color);
  border-bottom: 2px solid var(--second-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
  content: "";
}

.btn{
  background-color: #3dadb9;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  padding: 8px; 
  width: 10%; 
}

.center{
  display: flex;
  justify-content: center;
  align-content: center;
}